@red-1: #fff1f0;
@red-2: #ffccc7;
@red-3: #ffa39e;
@red-4: #ff7875;
@red-5: #ff4d4f;
@red-6: #f5222d;
@red-7: #cf1322;
@red-8: #a8071a;
@red-9: #820014;
@red-10: #5c0011;

@volcano-1: #fff2e8;
@volcano-2: #ffd8bf;
@volcano-3: #ffbb96;
@volcano-4: #ff9c6e;
@volcano-5: #ff7a45;
@volcano-6: #fa541c;
@volcano-7: #d4380d;
@volcano-8: #ad2102;
@volcano-9: #871400;
@volcano-10: #610b00;

@orange-1: #fff7e6;
@orange-2: #ffe7ba;
@orange-3: #ffd591;
@orange-4: #ffc069;
@orange-5: #ffa940;
@orange-6: #fa8c16;
@orange-7: #d46b08;
@orange-8: #ad4e00;
@orange-9: #873800;
@orange-10: #612500;

@gold-1: #fffbe6;
@gold-2: #fff1b8;
@gold-3: #ffe58f;
@gold-4: #ffd666;
@gold-5: #ffc53d;
@gold-6: #faad14;
@gold-7: #d48806;
@gold-8: #ad6800;
@gold-9: #874d00;
@gold-10: #613400;

@yellow-1: #feffe6;
@yellow-2: #ffffb8;
@yellow-3: #fffb8f;
@yellow-4: #fff566;
@yellow-5: #ffec3d;
@yellow-6: #fadb14;
@yellow-7: #d4b106;
@yellow-8: #ad8b00;
@yellow-9: #876800;
@yellow-10: #614700;

@lime-1: #fcffe6;
@lime-2: #f4ffb8;
@lime-3: #eaff8f;
@lime-4: #d3f261;
@lime-5: #bae637;
@lime-6: #a0d911;
@lime-7: #7cb305;
@lime-8: #5b8c00;
@lime-9: #3f6600;
@lime-10: #254000;

@green-1: #f6ffed;
@green-2: #d9f7be;
@green-3: #b7eb8f;
@green-4: #95de64;
@green-5: #73d13d;
@green-6: #52c41a;
@green-7: #389e0d;
@green-8: #237804;
@green-9: #135200;
@green-10: #092b00;

@cyan-1: #e6fffb;
@cyan-2: #b5f5ec;
@cyan-3: #87e8de;
@cyan-4: #5cdbd3;
@cyan-5: #36cfc9;
@cyan-6: #13c2c2;
@cyan-7: #08979c;
@cyan-8: #006d75;
@cyan-9: #00474f;
@cyan-10: #002329;

@blue-1: #e6f4ff;
@blue-2: #bae0ff;
@blue-3: #91caff;
@blue-4: #69b1ff;
@blue-5: #4096ff;
@blue-6: #1677ff;
@blue-7: #0958d9;
@blue-8: #003eb3;
@blue-9: #002c8c;
@blue-10: #001d66;

@eyasblue-1: #e8f3ff;
@eyasblue-2: #bedaff;
@eyasblue-3: #94bfff;
@eyasblue-4: #6aa1ff;
@eyasblue-5: #4080ff;
@eyasblue-6: #165dff;
@eyasblue-7: #0e42d2;
@eyasblue-8: #072ca6;
@eyasblue-9: #031a79;
@eyasblue-10: #000d4d;

@purple-1: #f9f0ff;
@purple-2: #efdbff;
@purple-3: #d3adf7;
@purple-4: #b37feb;
@purple-5: #9254de;
@purple-6: #722ed1;
@purple-7: #531dab;
@purple-8: #391085;
@purple-9: #22075e;
@purple-10: #120338;

@pinkpurple-1: #ffe8fb;
@pinkpurple-2: #f7baef;
@pinkpurple-3: #f08ee6;
@pinkpurple-4: #e865df;
@pinkpurple-5: #e13edb;
@pinkpurple-6: #d91ad9;
@pinkpurple-7: #b010b6;
@pinkpurple-8: #8a0993;
@pinkpurple-9: #650370;
@pinkpurple-10: #42004d;

@magenta-1: #ffe8f1;
@magenta-2: #fdc2db;
@magenta-3: #fb9dc7;
@magenta-4: #f979b7;
@magenta-5: #f754a8;
@magenta-6: #f5319d;
@magenta-7: #cb1e83;
@magenta-8: #a11069;
@magenta-9: #77064f;
@magenta-10: #4d0034;

@gray-1: #f7f8fa;
@gray-2: #f2f3f5;
@gray-3: #e5e6eb;
@gray-4: #c9cdd4;
@gray-5: #a9aeb8;
@gray-6: #86909c;
@gray-7: #6b7785;
@gray-8: #4e5969;
@gray-9: #272e3b;
@gray-10: #1d2129;

// 命名具有具体含义，从预置色板取值
@primary-1: @eyasblue-1;
@primary-2: @eyasblue-2;
@primary-3: @eyasblue-3;
@primary-4: @eyasblue-4;
@primary-5: @eyasblue-5;
@primary-6: @eyasblue-6;
@primary-7: @eyasblue-7;
@primary-8: @eyasblue-8;
@primary-9: @eyasblue-9;
@primary-10: @eyasblue-10;

// 成功色
@success-1: @green-1;
@success-2: @green-2;
@success-3: @green-3;
@success-4: @green-4;
@success-5: @green-5;
@success-6: @green-6;
@success-7: @green-7;
@success-8: @green-8;
@success-9: @green-9;
@success-10: @green-10;

// 错误色
@danger-1: @red-1;
@danger-2: @red-2;
@danger-3: @red-3;
@danger-4: @red-4;
@danger-5: @red-5;
@danger-6: @red-6;
@danger-7: @red-7;
@danger-8: @red-8;
@danger-9: @red-9;
@danger-10: @red-10;

// 警示色
@warning-1: @orange-1;
@warning-2: @orange-2;
@warning-3: @orange-3;
@warning-4: @orange-4;
@warning-5: @orange-5;
@warning-6: @orange-6;
@warning-7: @orange-7;
@warning-8: @orange-8;
@warning-9: @orange-9;
@warning-10: @orange-10;

@link-1: @eyasblue-1;
@link-2: @eyasblue-2;
@link-3: @eyasblue-3;
@link-4: @eyasblue-4;
@link-5: @eyasblue-5;
@link-6: @eyasblue-6;
@link-7: @eyasblue-7;
@link-8: @eyasblue-8;
@link-9: @eyasblue-9;
@link-10: @eyasblue-10;
