@import './color.less';

/******** borderSize *******/

@border-none: 0;
@border-1: 1px;
@border-2: 2px;
@border-3: 3px;
@border-4: 4px;
@border-5: 5px;

/******** borderStyle *******/

@border-solid: solid;
@border-dashed: dashed;
@border-dotted: dotted;

/******** radius *******/

@radius-none: 0;
@radius-small: 2px;
@radius-medium: 4px;
@radius-large: 8px;
@radius-circle: 50%;

/******** shadow distance *******/

@shadow-distance-none: 0;
@shadow-distance-1: 1px;
@shadow-distance-2: 2px;
@shadow-distance-3: 3px;
@shadow-distance-4: 4px;

/******** size *******/

@size-mini: 24px;
@size-small: 28px;
@size-default: 32px;
@size-large: 36px;

/******** spacing *******/

@spacing-none: 0;
@spacing-1: 2px;
@spacing-2: 4px;
@spacing-3: 6px;
@spacing-4: 8px;
@spacing-5: 10px;
@spacing-6: 12px;
@spacing-7: 16px;
@spacing-8: 20px;
@spacing-9: 24px;
@spacing-10: 32px;
@spacing-11: 36px;
@spacing-12: 40px;
@spacing-13: 48px;
@spacing-14: 56px;
@spacing-15: 60px;
@spacing-16: 64px;
@spacing-17: 72px;
@spacing-18: 80px;
@spacing-19: 84px;
@spacing-20: 96px;
@spacing-21: 100px;
@spacing-22: 120px;

@color-transparent: transparent;

/******** shadow *******/

@shadow-none: none;
@shadow-special: 0 0 1px rgba(0, 0, 0, 0.3);
@shadow1-center: 0 0 5px rgba(0, 0, 0, 0.1);
@shadow1-up: 0 -2px 5px rgba(0, 0, 0, 0.1);
@shadow1-down: 0 2px 5px rgba(0, 0, 0, 0.1);
@shadow1-left: -2px 0 5px rgba(0, 0, 0, 0.1);
@shadow1-right: 2px 0 5px rgba(0, 0, 0, 0.1);
@shadow1-left-up: -2px -2px 5px rgba(0, 0, 0, 0.1);
@shadow1-left-down: -2px 2px 5px rgba(0, 0, 0, 0.1);
@shadow1-right-up: 2px -2px 5px rgba(0, 0, 0, 0.1);
@shadow1-right-down: 2px 2px 5px rgba(0, 0, 0, 0.1);
@shadow2-center: 0 0 10px rgba(0, 0, 0, 0.1);
@shadow2-up: 0 -4px 10px rgba(0, 0, 0, 0.1);
@shadow2-down: 0 4px 10px rgba(0, 0, 0, 0.1);
@shadow2-left: -4px 0 10px rgba(0, 0, 0, 0.1);
@shadow2-right: 4px 0 10px rgba(0, 0, 0, 0.1);
@shadow2-left-up: -4px -4px 10px rgba(0, 0, 0, 0.1);
@shadow2-left-down: -4px 4px 10px rgba(0, 0, 0, 0.1);
@shadow2-right-up: 4px -4px 10px rgba(0, 0, 0, 0.1);
@shadow2-right-down: 4px 4px 10px rgba(0, 0, 0, 0.1);
@shadow3-center: 0 0 20px rgba(0, 0, 0, 0.1);
@shadow3-up: 0 -8px 20px rgba(0, 0, 0, 0.1);
@shadow3-down: 0 8px 20px rgba(0, 0, 0, 0.1);
@shadow3-left: -8px 0 20px rgba(0, 0, 0, 0.1);
@shadow3-right: 8px 0 20px rgba(0, 0, 0, 0.1);
@shadow3-left-up: -8px -8px 20px rgba(0, 0, 0, 0.1);
@shadow3-left-down: -8px 8px 20px rgba(0, 0, 0, 0.1);
@shadow3-right-up: 8px -8px 20px rgba(0, 0, 0, 0.1);
@shadow3-right-down: 8px 8px 20px rgba(0, 0, 0, 0.1);

/******** opacity *******/

@opacity-none: 0;
@opacity-1: 10%;
@opacity-2: 20%;
@opacity-3: 30%;
@opacity-4: 40%;
@opacity-5: 50%;
@opacity-6: 60%;
@opacity-7: 70%;
@opacity-8: 80%;
@opacity-9: 90%;
@opacity-10: 100%;

/******** fontSize *******/

@font-size-display-3: 56px;
@font-size-display-2: 48px;
@font-size-display-1: 36px;
@font-size-title-3: 24px;
@font-size-title-2: 20px;
@font-size-title-1: 16px;
@font-size-body-3: 14px;
@font-size-body-2: 13px;
@font-size-body-1: 12px;
@font-size-caption: 12px;

/******** fontWeight ********/
@font-weight-100: 100;
@font-weight-200: 200;
@font-weight-300: 300;
@font-weight-400: 400;
@font-weight-500: 500;
@font-weight-600: 600;
@font-weight-700: 700;
@font-weight-800: 800;
@font-weight-900: 900;

/******** Primary *******/

@color-primary-1: @primary-1;
@color-primary-2: @primary-2;
@color-primary-3: @primary-3;
@color-primary-4: @primary-4;
@color-primary-5: @primary-5;
@color-primary-6: @primary-6;
@color-primary-7: @primary-7;
@color-primary-8: @primary-8;
@color-primary-9: @primary-9;
@color-primary-10: @primary-10;

/******** success *******/

@color-success-1: @success-1;
@color-success-2: @success-2;
@color-success-3: @success-3;
@color-success-4: @success-4;
@color-success-5: @success-5;
@color-success-6: @success-6;
@color-success-7: @success-7;
@color-success-8: @success-8;
@color-success-9: @success-9;
@color-success-10: @success-10;

/******** warning *******/

@color-warning-1: @warning-1;
@color-warning-2: @warning-2;
@color-warning-3: @warning-3;
@color-warning-4: @warning-4;
@color-warning-5: @warning-5;
@color-warning-6: @warning-6;
@color-warning-7: @warning-7;
@color-warning-8: @warning-8;
@color-warning-9: @warning-9;
@color-warning-10: @warning-10;

/******** danger *******/

@color-danger-1: @danger-1;
@color-danger-2: @danger-2;
@color-danger-3: @danger-3;
@color-danger-4: @danger-4;
@color-danger-5: @danger-5;
@color-danger-6: @danger-6;
@color-danger-7: @danger-7;
@color-danger-8: @danger-8;
@color-danger-9: @danger-9;
@color-danger-10: @danger-10;

/******** link *******/

@color-link-1: @link-1;
@color-link-2: @link-2;
@color-link-3: @link-3;
@color-link-4: @link-4;
@color-link-5: @link-5;
@color-link-6: @link-6;
@color-link-7: @link-7;
@color-link-8: @link-8;
@color-link-9: @link-9;
@color-link-10: @link-10;

/******** radius *******/

// Other
@color-white: #ffffff;

@color-black: #000000;

@mask-bg-opacity: @opacity-6;
@mask-color-bg: rgba(@gray-10, @mask-bg-opacity);

@color-menu-light-bg: #ffffff;
@color-spin-layer-bg: rgba(255, 255, 255, 0.6);
@color-tooltip-bg: @gray-10;

// variables
@color-text-1: @gray-10; // 语句
@color-text-2: @gray-9; // 语句
@color-text-3: @gray-8; // 语句

@color-border: @gray-3;
@color-bg-popup: @gray-5;
@color-bg: #fff;
@color-bg-white: #fff;
// @color-text-1: @gray-7; // 标题，正文
// @color-text-3: @gray-3; // 次要信息
// @color-text-4: @gray-4; // 次要信息
// @color-fill-1: @gray-1;
// @color-fill-2: @gray-2;
// @color-fill-3: @gray-3;
// @color-fill-4: @gray-4;
// @color-border-1: @gray-2;
// @color-border-2: @gray-3;
// @color-border-3: @gray-4;
// @color-border-4: @gray-6;

// @color-secondary-disabled: @gray-1;
