@import './token.less';
@btn-prefix-cls: ~'@{prefix}-btn';

.@{btn-prefix-cls} {
  font-size: @font-size-body;
  outline: none;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.1s linear;
  box-sizing: border-box;
  line-height: @line-height-base;
  padding: 0 @spacing-7;
  height: @size-default;
  border: 1px solid transparent;
  border-radius: @radius-medium;
  & + & {
    margin-left: @spacing-7;
  }
}

.btn-type(@type) {
  .@{btn-prefix-cls}-@{type} {
    border-color: ~'@{btn-@{type}-border-color}';
    color: ~'@{btn-@{type}-color}';
    background-color: ~'@{btn-@{type}-bg-color}';

    &:hover {
      border-color: ~'@{btn-@{type}-border-color_hover}';
      color: ~'@{btn-@{type}-color_hover}';
      background-color: ~'@{btn-@{type}-bg-color_hover}';
    }

    &:active {
      border-color: ~'@{btn-@{type}-border-color_active}';
      color: ~'@{btn-@{type}-color_active}';
      background-color: ~'@{btn-@{type}-bg-color_active}';
    }
  }
}

.btn-type(secondary);
.btn-type(primary);
.btn-type(outline);
.btn-type(text);
