@btn-size-mini-padding-horizontal: 10px;
@btn-size-small-padding-horizontal: 16px;
@btn-size-default-padding-horizontal: 16px;
@btn-size-large-padding-horizontal: 20px;

@btn-size-mini-height: @size-mini;
@btn-size-small-height: @size-small;
@btn-size-default-height: @size-default;
@btn-size-large-height: @size-large;

@btn-size-mini-font-size: @font-size-body-1;
@btn-size-small-font-size: @font-size-body-3;
@btn-size-default-font-size: @font-size-body-3;
@btn-size-large-font-size: @font-size-body-3;

/***** Secondary *****/
@btn-secondary-border-color: transparent;
@btn-secondary-border-color_hover: transparent;
@btn-secondary-border-color_active: transparent;
@btn-secondary-border-color_disabled: transparent;
@btn-secondary-bg-color: @gray-2;
@btn-secondary-bg-color_hover: @gray-3;
@btn-secondary-bg-color_active: @gray-4;
@btn-secondary-bg-color_disabled: @gray-1;
@btn-secondary-color: @gray-8;
@btn-secondary-color_hover: @gray-8;
@btn-secondary-color_active: @gray-8;
@btn-secondary-color_disabled: @gray-4;

/***** Secondary - Warning *****/
@btn-secondary-border-color_warning: transparent;
@btn-secondary-border-color_warning_hover: transparent;
@btn-secondary-border-color_warning_active: transparent;
@btn-secondary-border-color_warning_disabled: transparent;
@btn-secondary-bg-color_warning: @warning-1;
@btn-secondary-bg-color_warning_hover: @warning-2;
@btn-secondary-bg-color_warning_active: @warning-3;
@btn-secondary-bg-color_warning_disabled: @warning-1;
@btn-secondary-color_warning: @warning-6;
@btn-secondary-color_warning_hover: @warning-6;
@btn-secondary-color_warning_active: @warning-6;
@btn-secondary-color_warning_disabled: @warning-3;

/***** Secondary - Danger *****/
@btn-secondary-border-color_danger: transparent;
@btn-secondary-border-color_danger_hover: transparent;
@btn-secondary-border-color_danger_active: transparent;
@btn-secondary-border-color_danger_disabled: transparent;
@btn-secondary-bg-color_danger: @danger-1;
@btn-secondary-bg-color_danger_hover: @danger-2;
@btn-secondary-bg-color_danger_active: @danger-3;
@btn-secondary-bg-color_danger_disabled: @danger-1;
@btn-secondary-color_danger: @danger-6;
@btn-secondary-color_danger_hover: @danger-6;
@btn-secondary-color_danger_active: @danger-6;
@btn-secondary-color_danger_disabled: @danger-3;

/***** Secondary - Success *****/
@btn-secondary-border-color_success: transparent;
@btn-secondary-border-color_success_hover: transparent;
@btn-secondary-border-color_success_active: transparent;
@btn-secondary-border-color_success_disabled: transparent;
@btn-secondary-bg-color_success: @success-1;
@btn-secondary-bg-color_success_hover: @success-2;
@btn-secondary-bg-color_success_active: @success-3;
@btn-secondary-bg-color_success_disabled: @success-1;
@btn-secondary-color_success: @success-6;
@btn-secondary-color_success_hover: @success-6;
@btn-secondary-color_success_active: @success-6;
@btn-secondary-color_success_disabled: @success-3;

/***** Primary *****/
@btn-primary-border-color: transparent;
@btn-primary-border-color_hover: transparent;
@btn-primary-border-color_active: transparent;
@btn-primary-border-color_disabled: transparent;
@btn-primary-bg-color: @primary-6;
@btn-primary-bg-color_hover: @primary-5;
@btn-primary-bg-color_active: @primary-7;
@btn-primary-bg-color_disabled: @primary-3;
@btn-primary-color: #fff;
@btn-primary-color_hover: #fff;
@btn-primary-color_active: #fff;
@btn-primary-color_disabled: #fff;

/***** Primary - Warning *****/
@btn-primary-border-color_warning: transparent;
@btn-primary-border-color_warning_hover: transparent;
@btn-primary-border-color_warning_active: transparent;
@btn-primary-border-color_warning_disabled: transparent;
@btn-primary-bg-color_warning: @warning-6;
@btn-primary-bg-color_warning_hover: @warning-5;
@btn-primary-bg-color_warning_active: @warning-7;
@btn-primary-bg-color_warning_disabled: @warning-3;
@btn-primary-color_warning: #fff;
@btn-primary-color_warning_hover: #fff;
@btn-primary-color_warning_active: #fff;
@btn-primary-color_warning_disabled: #fff;

/***** Primary - Danger *****/
@btn-primary-border-color_danger: transparent;
@btn-primary-border-color_danger_hover: transparent;
@btn-primary-border-color_danger_active: transparent;
@btn-primary-border-color_danger_disabled: transparent;
@btn-primary-bg-color_danger: @danger-6;
@btn-primary-bg-color_danger_hover: @danger-5;
@btn-primary-bg-color_danger_active: @danger-7;
@btn-primary-bg-color_danger_disabled: @danger-3;
@btn-primary-color_danger: #fff;
@btn-primary-color_danger_hover: #fff;
@btn-primary-color_danger_active: #fff;
@btn-primary-color_danger_disabled: #fff;

/***** Primary - Success *****/
@btn-primary-border-color_success: transparent;
@btn-primary-border-color_success_hover: transparent;
@btn-primary-border-color_success_active: transparent;
@btn-primary-border-color_success_disabled: transparent;
@btn-primary-bg-color_success: @success-6;
@btn-primary-bg-color_success_hover: @success-5;
@btn-primary-bg-color_success_active: @success-7;
@btn-primary-bg-color_success_disabled: @success-3;
@btn-primary-color_success: #fff;
@btn-primary-color_success_hover: #fff;
@btn-primary-color_success_active: #fff;
@btn-primary-color_success_disabled: #fff;

/***** Outline *****/
@btn-outline-border-color: @primary-6;
@btn-outline-border-color_hover: @primary-5;
@btn-outline-border-color_active: @primary-7;
@btn-outline-border-color_disabled: @primary-3;
@btn-outline-bg-color: #fff;
@btn-outline-bg-color_hover: #fff;
@btn-outline-bg-color_active: #fff;
@btn-outline-bg-color_disabled: #fff;
@btn-outline-color: @primary-6;
@btn-outline-color_hover: @primary-5;
@btn-outline-color_active: @primary-7;
@btn-outline-color_disabled: @primary-3;

/***** Outline - Warning *****/
@btn-outline-border-color_warning: @warning-6;
@btn-outline-border-color_warning_hover: @warning-5;
@btn-outline-border-color_warning_active: @warning-7;
@btn-outline-border-color_warning_disabled: @warning-3;
@btn-outline-bg-color_warning: #fff;
@btn-outline-bg-color_warning_hover: #fff;
@btn-outline-bg-color_warning_active: #fff;
@btn-outline-bg-color_warning_disabled: #fff;
@btn-outline-color_warning: @warning-6;
@btn-outline-color_warning_hover: @warning-5;
@btn-outline-color_warning_active: @warning-7;
@btn-outline-color_warning_disabled: @warning-3;

/***** Outline - Danger *****/
@btn-outline-border-color_danger: @danger-6;
@btn-outline-border-color_danger_hover: @danger-5;
@btn-outline-border-color_danger_active: @danger-7;
@btn-outline-border-color_danger_disabled: @danger-3;
@btn-outline-bg-color_danger: #fff;
@btn-outline-bg-color_danger_hover: #fff;
@btn-outline-bg-color_danger_active: #fff;
@btn-outline-bg-color_danger_disabled: #fff;
@btn-outline-color_danger: @danger-6;
@btn-outline-color_danger_hover: @danger-5;
@btn-outline-color_danger_active: @danger-7;
@btn-outline-color_danger_disabled: @danger-3;

/***** Outline - Success *****/
@btn-outline-border-color_success: @success-6;
@btn-outline-border-color_success_hover: @success-5;
@btn-outline-border-color_success_active: @success-7;
@btn-outline-border-color_success_disabled: @success-3;
@btn-outline-bg-color_success: #fff;
@btn-outline-bg-color_success_hover: #fff;
@btn-outline-bg-color_success_active: #fff;
@btn-outline-bg-color_success_disabled: #fff;
@btn-outline-color_success: @success-6;
@btn-outline-color_success_hover: @success-5;
@btn-outline-color_success_active: @success-7;
@btn-outline-color_success_disabled: @success-3;

/***** Text *****/
@btn-text-border-color: transparent;
@btn-text-border-color_hover: transparent;
@btn-text-border-color_active: transparent;
@btn-text-border-color_disabled: transparent;
@btn-text-bg-color: #fff;
@btn-text-bg-color_hover: @gray-2;
@btn-text-bg-color_active: @gray-3;
@btn-text-bg-color_disabled: transparent;
@btn-text-color: @primary-6;
@btn-text-color_hover: @primary-6;
@btn-text-color_active: @primary-6;
@btn-text-color_disabled: @primary-3;

/***** Text - Warning *****/
@btn-text-border-color_warning: transparent;
@btn-text-border-color_warning_hover: transparent;
@btn-text-border-color_warning_active: transparent;
@btn-text-border-color_warning_disabled: transparent;
@btn-text-bg-color_warning: transparent;
@btn-text-bg-color_warning_hover: @gray-2;
@btn-text-bg-color_warning_active: @gray-3;
@btn-text-bg-color_warning_disabled: transparent;
@btn-text-color_warning: @warning-6;
@btn-text-color_warning_hover: @warning-6;
@btn-text-color_warning_active: @warning-6;
@btn-text-color_warning_disabled: @warning-3;

/***** Text - Danger *****/
@btn-text-border-color_danger: transparent;
@btn-text-border-color_danger_hover: transparent;
@btn-text-border-color_danger_active: transparent;
@btn-text-border-color_danger_disabled: transparent;
@btn-text-bg-color_danger: transparent;
@btn-text-bg-color_danger_hover: @gray-2;
@btn-text-bg-color_danger_active: @gray-3;
@btn-text-bg-color_danger_disabled: transparent;
@btn-text-color_danger: @danger-6;
@btn-text-color_danger_hover: @danger-6;
@btn-text-color_danger_active: @danger-6;
@btn-text-color_danger_disabled: @danger-3;

/***** Text - Success *****/
@btn-text-border-color_success: transparent;
@btn-text-border-color_success_hover: transparent;
@btn-text-border-color_success_active: transparent;
@btn-text-border-color_success_disabled: transparent;
@btn-text-bg-color_success: transparent;
@btn-text-bg-color_success_hover: @gray-2;
@btn-text-bg-color_success_active: @gray-3;
@btn-text-bg-color_success_disabled: transparent;
@btn-text-color_success: @success-6;
@btn-text-color_success_hover: @success-6;
@btn-text-color_success_active: @success-6;
@btn-text-color_success_disabled: @success-3;

/***** Link *****/
@btn-link-border-color: transparent;
@btn-link-border-color_hover: transparent;
@btn-link-border-color_active: transparent;
@btn-link-border-color_disabled: transparent;
@btn-link-bg-color: transparent;
@btn-link-bg-color_hover: transparent;
@btn-link-bg-color_active: transparent;
@btn-link-bg-color_disabled: transparent;
@btn-link-color: @primary-6;
@btn-link-color_hover: @primary-5;
@btn-link-color_active: @primary-7;
@btn-link-color_disabled: @primary-3;

/***** Link - Warning *****/
@btn-link-border-color_warning: transparent;
@btn-link-border-color_warning_hover: transparent;
@btn-link-border-color_warning_active: transparent;
@btn-link-border-color_warning_disabled: transparent;
@btn-link-bg-color_warning: transparent;
@btn-link-bg-color_warning_hover: transparent;
@btn-link-bg-color_warning_active: transparent;
@btn-link-bg-color_warning_disabled: transparent;
@btn-link-color_warning: @warning-6;
@btn-link-color_warning_hover: @warning-5;
@btn-link-color_warning_active: @warning-7;
@btn-link-color_warning_disabled: @warning-3;

/***** Link - Danger *****/
@btn-link-border-color_danger: transparent;
@btn-link-border-color_danger_hover: transparent;
@btn-link-border-color_danger_active: transparent;
@btn-link-border-color_danger_disabled: transparent;
@btn-link-bg-color_danger: transparent;
@btn-link-bg-color_danger_hover: transparent;
@btn-link-bg-color_danger_active: transparent;
@btn-link-bg-color_danger_disabled: transparent;
@btn-link-color_danger: @danger-6;
@btn-link-color_danger_hover: @danger-5;
@btn-link-color_danger_active: @danger-7;
@btn-link-color_danger_disabled: @danger-3;

/***** Link - Success *****/
@btn-link-border-color_success: transparent;
@btn-link-border-color_success_hover: transparent;
@btn-link-border-color_success_active: transparent;
@btn-link-border-color_success_disabled: transparent;
@btn-link-bg-color_success: transparent;
@btn-link-bg-color_success_hover: transparent;
@btn-link-bg-color_success_active: transparent;
@btn-link-bg-color_success_disabled: transparent;
@btn-link-color_success: @success-6;
@btn-link-color_success_hover: @success-5;
@btn-link-color_success_active: @success-7;
@btn-link-color_success_disabled: @success-3;
