@btn-size-mini-padding-horizontal: 10px;
@btn-size-small-padding-horizontal: 16px;
@btn-size-default-padding-horizontal: 16px;
@btn-size-large-padding-horizontal: 20px;

@btn-size-mini-height: @size-mini;
@btn-size-small-height: @size-small;
@btn-size-default-height: @size-default;
@btn-size-large-height: @size-large;

@btn-size-mini-font-size: @font-size-body-1;
@btn-size-small-font-size: @font-size-body-3;
@btn-size-default-font-size: @font-size-body-3;
@btn-size-large-font-size: @font-size-body-3;

/***** Secondary *****/
@btn-secondary-border-color: transparent;
@btn-secondary-border-color_hover: transparent;
@btn-secondary-border-color_active: transparent;
@btn-secondary-bg-color: @gray-2;
@btn-secondary-bg-color_hover: @gray-3;
@btn-secondary-bg-color_active: @gray-4;
@btn-secondary-color: @color-text-2;
@btn-secondary-color_hover: @color-text-2;
@btn-secondary-color_active: @color-text-2;

/***** Secondary - Warning *****/
@btn-secondary-border-color_warning: transparent;
@btn-secondary-border-color_warning_hover: transparent;
@btn-secondary-border-color_warning_active: transparent;
@btn-secondary-bg-color_warning: @color-warning-1;
@btn-secondary-bg-color_warning_hover: @color-warning-2;
@btn-secondary-bg-color_warning_active: @color-warning-3;
@btn-secondary-color_warning: @color-warning-6;
@btn-secondary-color_warning_hover: @color-warning-6;
@btn-secondary-color_warning_active: @color-warning-6;

/***** Secondary - Danger *****/
@btn-secondary-border-color_danger: transparent;
@btn-secondary-border-color_danger_hover: transparent;
@btn-secondary-border-color_danger_active: transparent;
@btn-secondary-bg-color_danger: @color-danger-1;
@btn-secondary-bg-color_danger_hover: @color-danger-2;
@btn-secondary-bg-color_danger_active: @color-danger-3;
@btn-secondary-color_danger: @color-danger-6;
@btn-secondary-color_danger_hover: @color-danger-6;
@btn-secondary-color_danger_active: @color-danger-6;

/***** Secondary - Success *****/
@btn-secondary-border-color_success: transparent;
@btn-secondary-border-color_success_hover: transparent;
@btn-secondary-border-color_success_active: transparent;
@btn-secondary-bg-color_success: @color-success-1;
@btn-secondary-bg-color_success_hover: @color-success-2;
@btn-secondary-bg-color_success_active: @color-success-3;
@btn-secondary-color_success: @color-success-6;
@btn-secondary-color_success_hover: @color-success-6;
@btn-secondary-color_success_active: @color-success-6;

/***** Primary *****/
@btn-primary-border-color: transparent;
@btn-primary-border-color_hover: transparent;
@btn-primary-border-color_active: transparent;
@btn-primary-bg-color: @color-primary-6;
@btn-primary-bg-color_hover: @color-primary-5;
@btn-primary-bg-color_active: @color-primary-7;
@btn-primary-color: @color-white;
@btn-primary-color_hover: @color-white;
@btn-primary-color_active: @color-white;

/***** Primary - Warning *****/
@btn-primary-border-color_warning: transparent;
@btn-primary-border-color_warning_hover: transparent;
@btn-primary-border-color_warning_active: transparent;
@btn-primary-bg-color_warning: @color-warning-6;
@btn-primary-bg-color_warning_hover: @color-warning-5;
@btn-primary-bg-color_warning_active: @color-warning-7;
@btn-primary-color_warning: @color-white;
@btn-primary-color_warning_hover: @color-white;
@btn-primary-color_warning_active: @color-white;

/***** Primary - Danger *****/
@btn-primary-border-color_danger: transparent;
@btn-primary-border-color_danger_hover: transparent;
@btn-primary-border-color_danger_active: transparent;
@btn-primary-bg-color_danger: @color-danger-6;
@btn-primary-bg-color_danger_hover: @color-danger-5;
@btn-primary-bg-color_danger_active: @color-danger-7;
@btn-primary-color_danger: @color-white;
@btn-primary-color_danger_hover: @color-white;
@btn-primary-color_danger_active: @color-white;

/***** Primary - Success *****/
@btn-primary-border-color_success: transparent;
@btn-primary-border-color_success_hover: transparent;
@btn-primary-border-color_success_active: transparent;
@btn-primary-bg-color_success: @color-success-6;
@btn-primary-bg-color_success_hover: @color-success-5;
@btn-primary-bg-color_success_active: @color-success-7;
@btn-primary-color_success: @color-white;
@btn-primary-color_success_hover: @color-white;
@btn-primary-color_success_active: @color-white;

/***** Outline *****/
@btn-outline-border-color: @color-primary-6;
@btn-outline-border-color_hover: @color-primary-5;
@btn-outline-border-color_active: @color-primary-7;
@btn-outline-bg-color: @color-white;
@btn-outline-bg-color_hover: @color-white;
@btn-outline-bg-color_active: @color-white;
@btn-outline-color: @color-primary-6;
@btn-outline-color_hover: @color-primary-5;
@btn-outline-color_active: @color-primary-7;

/***** Outline - Warning *****/
@btn-outline-border-color_warning: @color-warning-6;
@btn-outline-border-color_warning_hover: @color-warning-5;
@btn-outline-border-color_warning_active: @color-warning-7;
@btn-outline-bg-color_warning: @color-white;
@btn-outline-bg-color_warning_hover: @color-white;
@btn-outline-bg-color_warning_active: @color-white;
@btn-outline-color_warning: @color-warning-6;
@btn-outline-color_warning_hover: @color-warning-5;
@btn-outline-color_warning_active: @color-warning-7;

/***** Outline - Danger *****/
@btn-outline-border-color_danger: @color-danger-6;
@btn-outline-border-color_danger_hover: @color-danger-5;
@btn-outline-border-color_danger_active: @color-danger-7;
@btn-outline-bg-color_danger: @color-white;
@btn-outline-bg-color_danger_hover: @color-white;
@btn-outline-bg-color_danger_active: @color-white;
@btn-outline-color_danger: @color-danger-6;
@btn-outline-color_danger_hover: @color-danger-5;
@btn-outline-color_danger_active: @color-danger-7;

/***** Outline - Success *****/
@btn-outline-border-color_success: @color-success-6;
@btn-outline-border-color_success_hover: @color-success-5;
@btn-outline-border-color_success_active: @color-success-7;
@btn-outline-bg-color_success: @color-white;
@btn-outline-bg-color_success_hover: @color-white;
@btn-outline-bg-color_success_active: @color-white;
@btn-outline-color_success: @color-success-6;
@btn-outline-color_success_hover: @color-success-5;
@btn-outline-color_success_active: @color-success-7;

/***** Text *****/
@btn-text-border-color: transparent;
@btn-text-border-color_hover: transparent;
@btn-text-border-color_active: transparent;
@btn-text-bg-color: @color-white;
@btn-text-bg-color_hover: @gray-2;
@btn-text-bg-color_active: @gray-3;
@btn-text-color: @color-primary-6;
@btn-text-color_hover: @color-primary-6;
@btn-text-color_active: @color-primary-6;

/***** Text - Warning *****/
@btn-text-border-color_warning: transparent;
@btn-text-border-color_warning_hover: transparent;
@btn-text-border-color_warning_active: transparent;
@btn-text-bg-color_warning: @color-white;
@btn-text-bg-color_warning_hover: @gray-2;
@btn-text-bg-color_warning_active: @gray-3;
@btn-text-color_warning: @color-warning-6;
@btn-text-color_warning_hover: @color-warning-6;
@btn-text-color_warning_active: @color-warning-6;

/***** Text - Danger *****/
@btn-text-border-color_danger: transparent;
@btn-text-border-color_danger_hover: transparent;
@btn-text-border-color_danger_active: transparent;
@btn-text-bg-color_danger: @color-white;
@btn-text-bg-color_danger_hover: @gray-2;
@btn-text-bg-color_danger_active: @gray-3;
@btn-text-color_danger: @color-danger-6;
@btn-text-color_danger_hover: @color-danger-6;
@btn-text-color_danger_active: @color-danger-6;

/***** Text - Success *****/
@btn-text-border-color_success: transparent;
@btn-text-border-color_success_hover: transparent;
@btn-text-border-color_success_active: transparent;
@btn-text-bg-color_success: @color-white;
@btn-text-bg-color_success_hover: @gray-2;
@btn-text-bg-color_success_active: @gray-3;
@btn-text-color_success: @color-success-6;
@btn-text-color_success_hover: @color-success-6;
@btn-text-color_success_active: @color-success-6;
